.button-nvm-blue {
    border: 0.2px solid #720404;
    border-radius: 20px !important;
    background-color: #a27bf2;
    color: rgb(5, 4, 4); 
    font-style: oblique;
    font-family: fangsong;
    font-size: 1rem;
    font-weight: 600;
}

.button-nvm-blue:hover {
    border: 0.2px solid #41176d !important; 
    background-color: #41176d !important; 
    color: white; 
}

/* PROVE 5 APRILE */
@media (max-width: 575px), (min-width: 766px) and (max-width: 930px) {
    form > .d-flex {
        flex-direction: column !important;
    }

    form > .d-flex > div {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .app-wrapper {
        height: auto !important;
    }
}
/* PROVE 5 APRILE */